@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

/* CONSTANTS */

:root {
    --blue: #1e90ff;
    --dark-sky-blue: #76BED0;
    --white: #ffffff;
    --sunglow: #F9CB40;
    --dark-olive-green: #606C38;
    --black: #000;
}

.dark-sky-blue {
    color: #76BED0;
}

.sunglow {
    color: #F9CB40;
}

.dark-olive-green {
    color: #606C38;
}

/* RESET STYLES */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
    font-size: 10px;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

a {
    text-decoration: none;
    color: inherit;
}

/* MAIN */

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--black);
    color: var(--white);
    padding: 1rem;
}

.main-section {
    height: 99vh;
}

.middle-section {
    height: 99vh;
    display: flex;
    flex-direction: column;
}

.bottom-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.middle-section-title {
    height: 10vh;
    font-size: 3rem;
    border-top: 0.5rem solid var(--dark-olive-green);
    border-bottom: 0.5rem solid var(--dark-olive-green);
}

.middle-section-text {
    margin-top: 2rem;
    font-size: 3rem;
    display: flex;
    flex: 0.5;
}

.title {
    font-size: 2rem;
    letter-spacing: 2rem;
    margin: auto;
    width: 100%;
}

.title-content {
    margin: 9% 0;
    text-align: center;
}

.brand {
    font-size: 4rem;
    margin: 9% 0;
    text-align: center;
}

nav.main-menu {
    display: flex;
    height: 5%;
    border-top: 0.3rem solid var(--sunglow);
    border-bottom: 0.3rem solid var(--sunglow);
}

.main-menu-half {
    display: none;
}

ul.main-menu-wrapper {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
    justify-content: space-between;
}

li.main-menu-item {
    margin: 0 2rem;
    font-size: 2rem;
    cursor: pointer;
}

li.main-menu-item:active {
    color: var(--dark-sky-blue);
}

main {
    height: 95%;
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-wrapper-text-block {
    width: 70%;
    display: flex;
    font-size: 5rem;
    word-spacing: 2rem;
    line-height: 8rem;
    color: var(--dark-sky-blue);
}

span.item-1 { left: 10%; top: 20%}
span.item-2 { left: 10%; top: 25%}
span.item-3 { left: 10%; top: 30%}
span.item-4 { left: 10%; top: 35%}
span.item-5 { left: 10%; top: 40%}
span.item-6 { left: 10%; top: 45%}
span.item-7 { left: 10%; top: 50%}
span.item-8 { left: 10%; top: 55%}
span.item-9 { left: 10%; top: 60%}
span.item-10 { left: 10%; top: 65%}

@media (min-width: 600px) {
    .main-menu-half {
        display: flex;
        flex: 0.5;
    }

    ul.main-menu-wrapper {
        flex: 0.5;
    }
}

li.main-menu-item {
    margin: 0 2rem;
    font-size: 2rem;
    cursor: pointer;
}

li.main-menu-item:active {
    color: var(--dark-sky-blue);
}

.middle-section-wrapper {
    display: flex;
    padding: 4rem 3rem;
    height: 100%;
    align-items: center;
}

.middle-section-gif-wrapper {
    flex: 0.5;
    display: flex;
    padding: 1rem;
}

.bottom-section-wrapper {
    display: flex;
    padding: 4rem 3rem;
    height: 100%;
    align-items: center;
}

.bottom-section-img-wrapper {
    flex: 0.5;
    display: flex;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.bottom-section-text {
    flex: 0.5;
    font-size: 3rem;
    display: flex;
}

.bottom-section-img {
    padding: 10rem;
}
