@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');

/* CONSTANTS */

:root {
    --blue: #1e90ff;
    --dark-sky-blue: #76BED0;
    --white: #ffffff;
    --sunglow: #F9CB40
    --dark-olive-green: #606C38
}

.dark-sky-blue {
    color: #76BED0;
}

.sunglow {
    color: #F9CB40;
}

.dark-olive-green {
    color: #606C38;
}

/* RESET STYLES */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
    font-size: 10px;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/* MAIN */

body {
    font-family: 'Syne', sans-serif;
}

.main-wrapper {
    width: 100vw;
}

.title {
    font-size: 2rem;
    letter-spacing: 2rem;
    margin: auto;
    width: 100%;
}

.title-content {
    margin: 9% 0;
    text-align: center;
}

.brand {
    font-size: 4rem;
    margin: 9% 0;
    text-align: center;
}

nav.main-menu {
    display: flex;
    height: 10%;
}

.main-menu-half {
    display: none;
}

ul.main-menu-wrapper {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
    justify-content: space-between;
}

li.main-menu-item {
    margin: 0 2rem;
    font-size: 2rem;
    cursor: pointer;
}

li.main-menu-item:active {
    color: var(--dark-sky-blue);
}

main {
    height: 90%;
}

.main-wrapper-img {
    background-image: url("./assets/cris_perfil.png");
    background-size: cover;
    background-position-x: center;
    background-position-y: -10rem;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
}

.main-wrapper-text {
    position: absolute;
    font-size: 3rem;
}

span.item-1 { left: 10%; top: 20%}
span.item-2 { left: 10%; top: 25%}
span.item-3 { left: 10%; top: 30%}
span.item-4 { left: 10%; top: 35%}
span.item-5 { left: 10%; top: 40%}
span.item-6 { left: 10%; top: 45%}
span.item-7 { left: 10%; top: 50%}
span.item-8 { left: 10%; top: 55%}
span.item-9 { left: 10%; top: 60%}
span.item-10 { left: 10%; top: 65%}

@media (min-width: 600px) {
    .main-menu-half {
        display: flex;
        flex: 0.5;
    }

    ul.main-menu-wrapper {
        flex: 0.5;
    }

    span.item-1 { left: 30%; top: 20%}
    span.item-2 { left: 60%; top: 20%}
    span.item-3 { left: 30%; top: 30%}
    span.item-4 { left: 60%; top: 30%}
    span.item-5 { left: 25%; top: 40%}
    span.item-6 { left: 60%; top: 40%}
    span.item-7 { left: 25%; top: 50%}
    span.item-8 { left: 65%; top: 50%}
    span.item-9 { left: 30%; top: 60%}
    span.item-10 { left: 65%; top: 60%}
}

/* 
@media (min-width: 768px) {
} */

@media (min-width: 1024px) {
    .main-wrapper-img {
        background-position-y: -15rem;
    }
}

@media (min-width: 1124px) {
    .main-wrapper-img {
        background-position-y: -15rem;
    }
}

@media (min-width: 1224px) {
    .main-wrapper-img {
        background-position-y: -25rem;
    }
}

@media (min-width: 2000px) {
    .main-wrapper-img {
        background-position-y: -40rem;
    }
}
